<div th:replace="~{topo :: cabecalho}"></div>
<script type="text/javascript" src="js/icltaua/usuario/cadastro.js" />
</script>
<!-------------------------------------------------------------------------------------------------------------------------------->
<main>
    <br>
    <h2 class="center-align">Igreja Cara de Le&atildeo do Tau&aacute;</h2>
    <h4 class="center-align">Cadastrar Usu&aacute;rio</h4>
    <br>
    <section class="container">
        <div class="row card col s12">
            <br>
            <form action="cadastraUsuario" method="POST" autocomplete="off">

                <div class="row">
                    <div class="input-field col s8">
                        <h5>&nbsp;&nbsp;Escolha do Usu&aacute;rio e suas fun&ccedil;&otilde;es *</h5>
                    </div>
                </div>

                <!--Primeira Linha-->
                <div class="row">
                    <div class="input-field col s5 offset-s2">
                        <select name="membro" id="selectMembro">
                            <option value="0">Escolha</option>
                            <option th:each="objeto : ${membro}" th:value="${objeto.id}" th:text="${objeto.nome}">
                            </option>
                        </select>
                        <label for="selectMembro">Escolha o Membro que ter&aacute; direito de acesso</label>
                    </div>

                    <div class="input-field col s3">
                        <select name="role" id="selectRole">
                            <option value="0">Escolha</option>
                            <option th:each="objeto : ${role}" th:value="${objeto.funcao}"
                                th:text="${objeto.funcao.substring(5).replace('_',' ')}"></option>
                        </select>
                        <label for="selectMembro">Escolha sua Fun&ccedil&atilde;o</label>
                    </div>
                </div>

                <!--Segunda Linha-->
                <div class="row">
                    <div class="input-field col s2 offset-s2">
                        <input type="text" name="cpf" id="cpf" />
                        <label for="cpf">Digite o CPF</label>
                    </div>

                    <div class="input-field col s3">
                        <input type="text" name="nomeGuerra" id="nomeGuerra" />
                        <label for="nomeGuerra">Digite o Nome de Guerra do Membro</label>
                    </div>

                    <div class="input-field col s3">
                        <select name="status" id="selectStatus">
                            <option value="0">Escolha</option>
                            <option th:each="objeto : ${status}" th:value="${objeto.enumStatus}"
                                th:text="${objeto.enumStatus}">
                            </option>
                        </select>
                        <label for="status">Selecione o Status do Membro</label>
                    </div>
                </div>

                <!--Terceira Linha-->
                <div class="row">
                    <div class="input-field col s3 offset-s3">
                        <input type="password" name="senha" id="senha" />
                        <label for="senha">Digite a senha</label>
                    </div>

                    <div class="input-field col s3">
                        <input type="password" id="confirmarSenha" />
                        <label for="senha">Confirme a senha</label>
                    </div>
                </div>

                <input type="hidden" name="primeiroAcesso" value="true">
                <input type="hidden" name="excluido" value="false">
                <input type="hidden" name="qtdLogin" value="0">

                <!--Quarta Linha-->
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <a class="btn-floating btn-medium waves-effect waves-light left">
                            <i class="material-icons">clear</i>
                        </a>

                        <button class="btn-floating btn-medium waves-effect waves-light right" id="enviarUsuario" type="submit">
                            <i class="material-icons">send</i>
                        </button>
                    </div>
                    <br>
                </div>
            </form>

            <div class="row">
                <div class="input-field col s6 offset-s1">
                    <span class="red-text text-darken-2">* Item obrigat&oacute;rio.</span>
                </div>
            </div>
        </div>
    </section>
</main>
<!-------------------------------------------------------------------------------------------------------------------------------->
<div th:replace="~{rodape :: rodape}"></div>