<div th:replace="~{topo :: cabecalho}"></div>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
<!-------------------------------------------------------------------------------------------------------------------------------->
<main> 
	<br>
    <h2 class="center-align">Francilino Eletr&ocirc;nica</h2>
	<h3 class="center-align">Prezado usu&aacute;rio, houve um erro.</h3>
	<section class="container">
		<div class="row col s12">
			<h4 class="center-align">
				Enviar e-mail para <strong class="red-text">afrancilino@gmail.com</strong> 
				com seu <strong>nome</strong> e <strong>telefone</strong> 
				informando o erro ocorrido.
			</h4>
		</div>
    </section>
</main>
<!-------------------------------------------------------------------------------------------------------------------------------->
<div th:replace="~{rodape :: rodape}"></div>