<div th:replace="~{topo :: cabecalho}"></div>
<!-------------------------------------------------------------------------------------------------------------------------------->
<main>
    <section class="container home">
        <br>
        <!--img id="logoImg" src="imagens/brasao.png" width="20%" alt="logoLeao"-->
        <h1 class="center-align">Igreja Cara de Le&atildeo do Tau&aacute;</h1>
        <h2 class="center-align">Projeto Vida Nova</h2><br>
        <h3 class="center-align">Seja Bem Vindo</h3>
        <h3 class="center-align red-text" th:text="${usuario}"></h3>
    </section>
</main>
<!-------------------------------------------------------------------------------------------------------------------------------->
<div th:replace="~{rodape :: rodape}"></div>