<div th:replace="~{topo :: cabecalho}"></div>
<!--input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /-->
<!-------------------------------------------------------------------------------------------------------------------------------->
<main> 
	<br><br><br><br><br>
    <h2 class="center-align">Igreja Cara de Le&atildeo do Tau&aacute;</h2>
	<h4 class="center-align">&nbsp;</h4>
	<br>
	<section class="container">
		<div class="row col s12">
            <div class="col s8 offset-s2">
			    <h3 class="center-align"><span th:text="${objeto}"></span></h3>
				<br>
				<h3 class="center-align red-text"><span th:text="${nome}"></span></h3>
				<br>
				<h3 class="center-align"><span th:text="${acao}"></span></h3>
            </div>
		</div>
    </section>
</main>
<!-------------------------------------------------------------------------------------------------------------------------------->
<div th:replace="~{rodape :: rodape}"></div>