<!DOCTYPE html>
<html lang="pt-BR" th:fragment="cabecalho">

<head>
    <title>Igreja Cara de Le&atilde;o do Tau&aacute;</title>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/estilo.css" />
    <link rel="stylesheet" type="text/css" href="materialize/css/font-google.css" />
    <link rel="stylesheet" type="text/css" href="materialize/css/materialize.min.css" media="screen,projection" />
    <link rel="icon" type="image/png" href="imagens/brasao.png" />
    <script type="text/javascript" src="js/jquery-3.6.0.min.js" /></script>
    <script type="text/javascript" src="js/jquery-mask.js" /></script>
    <script type="text/javascript" src="js/jquery-maskmoney.js" /></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js" /></script>
    <script type="text/javascript" src="js/icltaua/icltauaJquery.js" /></script>
</head>

<body>
    <header>
        <div sec:authorize="isAuthenticated()">
            <ul id="dropdownCadastro" class="dropdown-content">
                <li><a href="cadastraMembro">Membros</a></li>
                <li><a href="cadastraVisitante">Visitantes</a></li>
                <li><a href="cadastraBatizando">Batizandos</a></li>
                <li><a href="cadastraMinisterio">Minist&eacute;rios</a></li>
                <li><a href="cadastraEventoMinisterio">Eventos Minist&eacute;rios</a></li>
                <li><a href="cadastraGrupoFamiliar">Grupos Familiares</a></li>
                <li><a href="cadastraReuniaoGF">Reuni&otilde;es GF</a></li>
                <li><a href="cadastraEntrada">Entradas</a></li>
                <li><a href="cadastraUsuario">Usu&aacute;rio</a></li>
                <li><a href="cadastraRole">Fun&ccedil;&atilde;o</a></li>
            </ul>

            <ul id="dropdownConsulta" class="dropdown-content">
                <li><a href="consultaMembro">Membros</a></li>
                <li><a href="consultaVisitante">Visitantes</a></li>
                <li><a href="consultaBatizando">Batizandos</a></li>
                <li><a href="consultaMinisterio">Minist&eacute;rios</a></li>
                <li><a href="consultaEventoMinisterio">Eventos Minist&eacute;rios</a></li>
                <li><a href="consultaGrupoFamiliar">Grupo Familiar</a></li>
                <li><a href="consultaReuniaoGF">Reuni&otilde;es GF</a></li>
                <li><a href="consultaEntrada">Entradas</a></li>
                <li><a href="consultaUsuario">Usu&aacute;rio</a></li>
                <li><a href="consultaRole">Fun&ccedil;&atilde;o</a></li>
            </ul>

            <ul id="dropdownRelatorio" class="dropdown-content">
                <li><a href="relatorioMembro">Membros</a></li>
                <li><a href="relatorioVisitante">Visitantes</a></li>
                <li><a href="relatorioBatizando">Batizandos</a></li>
                <li><a href="relatorioMinisterio">Minist&eacute;rios</a></li>
                <li><a href="relatorioEventoMinisterio">Eventos Minist&eacute;rios</a></li>
                <li><a href="relatorioGrupoFamiliar">Grupo Familiar</a></li>
                <li><a href="relatorioReuniaoGF">Reuni&otilde;es GF</a></li>
                <li><a href="relatorioEntrada">Entradas</a></li>
                <li><a href="relatorioUsuario">Usu&aacute;rio</a></li>
                <li><a href="relatorioRole">Fun&ccedil;&atilde;o</a></li>
            </ul>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <div class="navbar-fixed z-depth-5">
                <nav id="fundo">
                    <div class="nav-wrapper">
                        <a href="login" id="botaoLogin" class="waves-effect waves-light btn right">Login</a>
                    </div>
                </nav>
            </div>
        </div>

        <div sec:authorize="isAuthenticated()">
            <div class="navbar-fixed z-depth-5">
                <nav id="fundo">
                    <div class="nav-wrapper">
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="index">Home</a></li>
                            <li><a class="dropdown-button" href="#!" data-activates="dropdownCadastro">Cadastro<i class="material-icons right">arrow_drop_down</i></a></li>
                            <li><a class="dropdown-button" href="#!" data-activates="dropdownConsulta">Consulta<i class="material-icons right">arrow_drop_down</i></a></li>
                            <li><a class="dropdown-button" href="#!" data-activates="dropdownRelatorio">Relat&oacute;rios<i class="material-icons right">arrow_drop_down</i></a></li>
                            <li><a href="alteraUsuario?id=">Meus Dados</a></li>
                            <li><a href="alteraSenha?id=">Alterar Senha </a></li>
                            <li><a href="logout" id="botaoLogin" class="waves-effect waves-light btn right">Sair</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>